*.war
*.jar
*.class
# This is for adding a complete folder in repo to ignore
/GitTest/bin/**
/GitTest/.classpath
/GitTest/.settings/**
/GitTest/.project

/JDBCDemo/bin/**
/JDBCDemo/.classpath
/JDBCDemo/.project
/JDBCDemo/.settings/**

/.metadata/**
/.recommenders/**
/RemoteSystemsTempFiles/
